* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

:root
{
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: 'times new roman', "Georgia", serif;
    --body-font: 'Arial', "Helvetica", sans-serif;   
}
body {
    font-family: var(--heading-font);
   font-weight: 800;
}



header {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(184, 184, 238);
    height: auto;
    width: 840px;
    margin: 0 auto;
    margin-bottom: auto;
    padding: 5px;
   
}

nav {
    display: flex;
    border: 1px solid black;
    margin: 30px 0 30px auto;
    
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    border-right: 1px solid black;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

.hero{
    position: relative;
      width: 840px;
    max-width: 1024px;
    margin: 10px auto;
     border: 1px solid black;
}
 .hero > img{
    display: block;
    width: 840px;
    height: auto;
 }
 .hero h1 {
    position: absolute;
     top: 20px;
    left: 0;
    width:100%;
    padding: 5px;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    font-family: var(--heading-font);
    opacity: 0.9;
}
.hero article{
        position: absolute;
    bottom: 20px;
    left: 40%;
    width: 500px;
    min-height: 100px;
    padding: 0px;
    background-color: var(--accent1-color);
    color: white;
    border: 1px solid RED;
}
.hero article img {
    float: right;
    width: 100px;
    height: auto;
    margin-left: 15px;
    
}
.hero article p {
    line-height: 1.5;
}
.hero article h3 {
    position: static;
    width: auto;
    padding: 0;
    margin-bottom: auto;
    color: white;
    opacity: 1;
}
 footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 10px auto;
  width: 840px;
  background-color: rgb(184, 184, 238)
  
}
.socialmedia {
  display: flex;
  gap: 1px;
  border: none;
  padding: 0;
}
.socialmedia a {
  text-decoration: none;
   border: none;
   gap: 1px;
   padding: 2px;
}
.socialmedia img {
    width:16;
    height: 16;
    gap: 1pxs;
     border: none;
}
.history {
    border: 1px solid black;
    padding:10px;
    margin: 10px auto;
     width: 840px;
    box-sizing: border-box;
}

.history h2 {
    text-align: center;
    margin-bottom: auto;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
   
}

.history-content img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.adventure-gallery {
    display: grid;
    grid-template-columns: 100PX 100px  100PX 100px 100PX;
    gap: 70px;
    width: 840px;
    padding: 0.5px;
    margin: 10px auto;
    border: 1px solid black;
     
}

.adventure-gallery h2 {
    grid-column: 1 / -1;
    text-align: center;
   margin-bottom: auto;
}
.adventure-gallery figure {
    text-align: center;
}

.adventure-gallery img {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

.adventure-gallery figcaption {
    margin-top: auto;
}
   